*.class
*.jar
*.war
*.ear
*.swp
.idea
.idea/*
*.iml
*.ipr
*.iws
target
.gradle
/build/
gradle-app.setting
.gradletasknamecache

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
